:root {
  background-image: url("https://img.freepik.com/free-vector/blue-futuristic-waves-background-with-computer-code-technology_53876-119575.jpg?w=1380&t=st=1699906862~exp=1699907462~hmac=fc5711e8e9f9885c50c14a5ff22098331f1632ec6c962416e8b4cb32496307d4");
  background-repeat: no-repeat;
  background-size:cover;
  min-width: 100vw;
  min-height: 100vh;
  background-position: center center;
}