:root {
  background-image: url(../src/assets/images/image.png);
  background-repeat: no-repeat;
  background-size:cover;
  /*min-width: 100vw;
  min-height: 100vh;
  background-position: center center;*/
  
}